.infoBar {
  width: 86%;
  height: 38px;
  left: 10%;
  top: 119px;
  margin: auto;
  margin-top: 8px;
  z-index: -1;
  background: #ffca28;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
