.infoBar {
  width: 55%;
  height: 38px;
  left: 10%;
  top: 115px;
  margin: auto;
  margin-top: 2px;
  z-index: -1;
  background: #ffca28;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  box-shadow: 1px 1px 1px grey;
  border-radius: 7px;
}
