.searchBar {
  width: 60%;
  height: 40px;
  left: 10%;
  top: 71px;
  margin-top: 60px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
}

.searchSymbole {
  width: 0px;
  height: 24px;
  left: 0px;
  top: 83px;
  z-index: 3;
}
