.card {
  width: 40%;
  height: 100px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 3px 3px 3px grey;
  border-radius: 5px;
}
.cardClicked {
  background-color: #ff6347;
}

.cardUnclicked {
  background-color: #554fe2;
}
