.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
}

.flex-box {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.flex-box-element {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
}
