.HeadBar {
  position: fixed;
  width: 100%;
  height: 57px;
  left: 0px;
  top: 0px;
  background: #ffca28;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px grey;
}

.HeadText {
  position: absolute;
  width: 100%;
  height: 57px;
  text-align: center;
  top: 9px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 33px;
  z-index: 1;
  color: #000000;
}

/* menu */
.burgerMenu {
  position: absolute;
  width: 32.05px;
  height: 31.73px;
  left: 13px;
  top: 12px;
}
